.footer {
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 16px;
}
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer .social-icons {
      margin-top: 10px;
    }
  }